<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html lang="en" ng-app="timebenchExtension" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!--<link rel="stylesheet"  href="bower_components/jquery-ui/themes/redmond/jquery-ui.css">-->
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="css/extension.css">
    <script type="text/javascript">
        URL.getParameters = function () {
            var r = {};

            var params = window.location.search;
            if (params.length > 1) {
                params = params.substr(1).split("&");
                $.each(params, function () {
                    pair = this.split("=");
                    r[pair[0]] = unescape(pair[1]);
                });
            }

            return r;
        };
        var theProject = {id: URL.getParameters().project, cellIndex: URL.getParameters().cellIndex};
    </script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/angular/controllers.js"></script>
</head>
<body ng-controller="timebenchExtensionCtrl">
<div id="dateValues">
    <div id="originValues">
        <ul>
            <h2>origin</h2>
            <li ng-repeat="dateValue in dataModel.originalColumn.pagination.result" ng-class="{true: 'ambigiuosValue', false: 'uniqueValue'}[dateValue.conflict==true]" >
                {{dateValue.value}}
            </li>
        </ul>
    </div>
    <div id="reformatedValues">
        <ul ng-repeat="formatColumn in dataModel.formatColumns">
            <h2 ng-click="dataModel.applyColumn(formatColumn)" class="column-header" ng-class="{true: 'applied', false : ''}[formatColumn.applied]" ng-click="dataModel.applyColumn(formatColumn)">{{formatColumn.format}}</h2>
            <li ng-repeat="reformatedValue in formatColumn.pagination.result" ng-class="{true: 'ambigiuosValue', false: 'uniqueValue'}[reformatedValue.conflict==true]" >
                {{reformatedValue.value ? reformatedValue.value : '-'}}
            </li>
        </ul>
    </div>
    <div id="resultList">
        <ul>
            <h2>result</h2>
            <li ng-repeat="resultValue in dataModel.resultColumn.pagination.result" ng-class="{true: 'ambigiuosValue', false: 'uniqueValue'}[resultValue.conflict==true]">
                {{resultValue.value ? resultValue.value : '-'}}
            </li>
        </ul>
    </div>

</div>
<div id="pagination">
    <uib-pagination
            total-items="dataModel.originalColumn.dateTimeValues.length"
            ng-model="dataModel.originalColumn.pagination.paginationVars.currentPage"
            ng-change="dataModel.paginate()"
            num-pages="dataModel.originalColumn.pagination.numPages">
    </uib-pagination>
    page: {{dataModel.originalColumn.pagination.paginationVars.currentPage}}
    total: {{dataModel.originalColumn.pagination.numPages}}
</div>
<button type="button" class="btn btn-info" ng-click="applyToDataModel()">apply to data model</button>

<div id="formats">
    <div id="outputFormatDiv">
        <label id="outputFormatLabel" for="outputFormat">output format</label>
        <input id="outputFormat" type="text" class="form-control">
        <button type="button" class="btn btn-info" id="refresh" ng-disabled="inputFormat.formats.length == 0"
                ng-click="refresh()">refresh
        </button>
    </div>

</div>

<div id="inputFormatBox">
    <div id="inputFormats">
        <div ng-repeat="inputFormat in dataModel.formatColumns" class="inputFormatElement">
            <p>{{inputFormat.format}}</p>
            <button type="button" class="btn btn-sm btn-danger" ng-click="serviceMethods.removeInputFormat(inputFormat.format,dataModel)">clear</button>
        </div>
    </div>
    <div id="inputFormatDiv">
        <input id="inputFormat" type="text" class="form-control">
        <button type="button" class="btn btn-info" ng-click="serviceMethods.addInputFormat(dataModel)" id="addInputFormats">add input format
        </button>
    </div>
</div>

</body>
</html>
