ul{
    margin: 0;
    padding: 0px;
}
h2 {
    padding: 15px;
    margin: 0;
    background-color: #5bc0de;
    font-size: medium;
    width: 200px;
    /*border-color: black;*/
    /*border-right-style: solid;*/
    /*border-width: 1px;*/
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;
}

#dateValues {
    width: 100%;
    clear: both;
    height: 700px;
}

#pagination {
    clear: both;
}

#dateValues ul {
    float: left;
}

#ambigiuousValuesBox{
    float: right;
    margin: 50px;
}

.ambigiuousValues {
    /*border-style: double;*/
    padding: 20px;
    margin-bottom: 5px;
}

.ambigiuosValue{
    background-color: rgba(197, 78, 74, 0.36);
    border-color: #d43f3a;
    color: #353535;
}

.uniqueValue{
    background-color: rgba(57, 158, 174, 0.33);
    border-color: #46b8da;
    color: #353535;
}

#originValues, #resultList, #reformatedValues{
    float: left;
    /*border-style: solid;*/
    /*border-width: thin;*/
}

#reformatedValues ul{
    float: left;
    border-right: solid;
    border-width: thin;
    border-color: lightgrey;
}

.activatedFormat{
    background-color: grey;
}

.label{
    float: left;
    color: black;
    width: 120px;
    font-size: 16px;
}


#formats {
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 800px;
    width: 400px;
    border-style: solid;
    border-width: thin;
    border-color: #46b8da;
}
/*#inputFormatDiv {*/
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    /*position: absolute;*/
    /*top: 1000px;*/
    /*width: 400px;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: #46b8da;*/
/*}*/


#inputFormatBox{
    position: absolute;
    left: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 800px;
    width: 400px;
}
#inputFormats{
    height: 200px;
    width: 420px;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: #46b8da;
    overflow-y: scroll;
    overflow-x: hidden;
}

#inputFormats .inputFormatElement p {
    float: left;
    width: 200px;
    padding-left: 10px;

}

#inputFormats .inputFormatElement {
    float: left;
    width: 400px;
    padding: 5px;
}

#inputFormats .inputFormatElement button {
    float: right;
    width: 120px;
}

.formatField{
    width: 200px;
    float: left;
    margin-right: 10px;
}

#inputFormatDiv {

}

.column-header:hover, .applied{
    background-color: rgba(57, 158, 174, 1);}

.has-error{
    background: rgba(197, 78, 74, 0.36);
}

#explanation{
    height: auto;
    background-color: rgba(57, 158, 174, 0.33);
    position: absolute;
    width: 500px;
    top: 200px;
}
#outputFormatDiv{
    position: absolute;
    width: 500px;
    top: 870px;
}

.tooltip-inner {
    color: black;
    background: rgba(57, 158, 174, 0.33);
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(57, 158, 174, 0.33);
}

#outputFormatDiv2{
margin-bottom: 10px;
}

#inputFormatDiv{

}

#applyToDataModelBtn{
    top: 130px;
    position: absolute;
    left: 120px;
    width: 200px;
}

#refreshBtn{
    width: 130px;
}

.day {
    fill: #fff;
    stroke: #ccc;
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.heatmapContainer{
    border: thin solid;
}

.heatmap{
    width: 100%;
    height: 170px;
}

.dayHeatMapContainer{
    top: 200px;
    left:30px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

